{% extends 'base.html' %}

{% block title %} To-Do List {% endblock %}

{% block content %}

{% if messages %}
	
	{% for message in messages %}
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span>x</span>
			</button>
			{{ message }}
		</div>
	{% endfor %}

{% endif %}

	{% if all_items %}
	<table class="table table-bordered">
		{% for i in all_items %}
			{% if i.completed %}
				<tr class="table-secondary">
					<td class="thru_line"><a href="{% url 'edit' i.id %}">{{ i.item }}</a></td>

					<td><center><a href="{% url 'uncross' i.id %}"><button type="button" class="btn btn-warning">Uncross</button></a></center></td>

					<td><center><a href="{% url 'delete' i.id %}"><button type="button" class="btn btn-danger">Delete</button></a></center></td>
				</tr>
			{% else %}
				<tr>
					<td><a href="{% url 'edit' i.id %}">{{ i.item }}</a></td>

					<td><center><a href="{% url 'cross_off' i.id %}"><button type="button" class="btn btn-warning">Cross off</button></a></center></td>

					<td><center><a href="{% url 'delete' i.id %}"><button type="button" class="btn btn-danger">Delete</button></a></center></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	{% endif %}

{% endblock %}

